<%- include("partials/header") -%>

<section id="main-navbar-doctors">

  <nav class="navbar navbar-expand-lg fixed-top">
 <div class="container-fluid">
   <a class="navbar-brand" href="#"><strong><img src="images/angel.png" alt="">Doctors</strong></a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ms-auto">
       <li class="nav-item">




<a>

 <a href="admin" class="btn btn-md btn-light btn-goback" type="submit" name="button"><strong>Go Back</strong></a>

</a>

       </li>
     </ul>
   </div>
 </div>
</nav>
</section>


<section id="doc-pending">

  <h1><strong>Pending lists of doctors</strong></h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Specialization</th>
      <th>Hospital</th>
      <th>ID Card</th>
      <th>MBBS Certificate</th>
      <th>MD Certificate</th>
      <th>Approve/Pending</th>
    </tr>

    <% doctors.forEach((doctor) => { %>
      <tr>
        <td><%= doctor.doctorId %></td>
        <td><%= doctor.doctorName %></td>
        <td class="mail"><%= doctor.doctorSpecialization %></td>
        <td ><%= doctor.doctorHospitalName %></td>
        <td class="cert">
          <a href="<%= doctor.doctorIdCard %>" target="_blank">View</a>
        </td>
        <td class="cert">
          <a href="<%= doctor.doctorMbbs %>" target="_blank">View</a>
        </td>
        <td class="cert">
          <a href="<%= doctor.doctorMd %>" target="_blank">View</a>
        </td>
        <td class="clk">
          <form class="" action="/pendingDoctor" method="post">
            <input type="hidden" name="doctorUserName" value="<%= doctor.doctorUserName %>">
            <button class="btn btn-sm btn-light btn-pending" type="submit" name="button">Approve</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>



     <div class="image">
         <img src="images/angel.png" alt="">
     </div>


</section>

<%- include("partials/footer") -%>
